.validation-text{
  color: red;
  font-size: 14px;
}
.header{
  font-size: 35px;
  color: white;
  background-image: linear-gradient(45deg, #91bfc9, #000000);
  font-weight: 600;
  padding: 15px;
  text-align: center;
  margin: 20px 0px;
}

.user{
   color: rgb(45, 192, 121);
   font-weight: 600;
}
.auth-logo{
   border-radius: 50%;
   box-shadow: 0px 0px 8px rgb(77 104 255);
   padding: 10px;
   margin-bottom: 20px;
   width: 25%;
}
 /* //! new one here */

 .title {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  font-size: 30px;
  font-weight: bold;
  color: rgb(77 104 255);
}

.title:first-of-type {
  animation: showup 7s infinite;
}

.title:last-of-type {
  width:0px;
  margin-bottom: 2px;
  animation: reveal 7s infinite;
}

.title:last-of-type .sub_title {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-300px; }
    20% { margin-left:-300px; }
    35% { margin-left:8px; }
    100% { margin-left:8px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}
.sub_title {
  font-size: 18px;
  color:#3ec777;
  margin-top:0px;
}
.modal_title{
  font-weight: bold !important;
 text-align: center;
 color: #577278;
}
.modal_description{
  text-align: center;
  font-weight: 600 !important;
  color: #767676;
}
.logout{
  background-color: rgb(185, 48, 48) !important;
 color: white !important;
 font-weight: 800 !important;
}
.cancel{
  background-color: #577278 !important;
 color: white !important;
 font-weight: 800 !important;
}
.parent_box{
   display: flex;
   justify-content: space-around;
   margin-top: 25px;
}
.parent_box_data{
   display: flex;
   justify-content:center;
   align-items: center;
   border: 2px dotted rgb(145, 145, 229);
   border-radius: 15px;
   height: 180px;
   width: 180px;
   font-weight: 800;
   color: rgb(145, 145, 229);
}
.parent_space{
   display: flex;
   justify-content: center;
   gap: 15px;
   cursor: pointer;
}
.check{
   display: flex;
   gap: 15px;
}
.error-msg{
  color: rgb(236, 103, 103);
  line-height: 30px;
  font-size: 45px;
  padding: 2rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.wrong-btn{
 background-color: rgb(230, 60, 60) !important;
 font-weight: 800 !important;
 margin-top: 15px !important;
}